<p>
About  
</p>

<p>
<div class="container-fluid">
<p>
The Brandeis Canoe Club seeks to provide Brandeis students access to both competitive and recreational canoeing.  
There are three main disciplines of whitewater canoeing downriver,  <a href="#Freestyle">Freestyle</a> and slalom. 
</p>
<div class="row">
	
	<div class="col-lg-6" style="background-color:#FFC266;">
      <p>Downriver</p>
      <p> In downriver canoe racing racers have to navigate a 4-12 mile course of generally class I-III+ whitewater and flatwater. Paddlers compete in either doubles (tandem) OC2 or solo OC1. In general there five main categories of competition OC-1 Men, OC1-Women, OC2-Men, OC2-Women, and OC2-Mixed. As USA Wildwater puts 
      it "The success of each race depends on the athlete's ability to parse the waves, holes and rocks of a natural riverbed while red-lining the body's internal motor. Some racers are driven by picturing rival competitors on the course with them neck-and-neck, while many others concentrate on their inner 
      race and block everything out except the boiling, frothy corridor laid out before them." Additionally, in downriver an emphasis is placed on "staying dry" as one does not want to waste time dumping or bailing their boat of water taken on during the rapids. Racers must therefore delicately choose between the dryer or 
      the quicker lines. In the northeast the major downriver organizations are the New England Canoe and Kayak Racing Association (NECKRA) and the Maine Canoe and Kayak Racing Association (MACKRO). MACKRO and NECKRA downriver race series generally run from March to May and feature 6-7 races.
       The American Canoe Association's Downriver Commitee arranges regional and national d championships races every year.  At the national event since the races occur on different 
       days racers often compete in multiple categories.  
         </p>
    </div>
    <div class="col-lg-6" style="background-color:	#E066E0;">
      <p>1995 WWWOCD Nationals on the Lower Youghiogheny PA</p>
      <iframe width="560" height="315" src="//www.youtube.com/embed/uP1a8cW1Csg" frameborder="0" allowfullscreen></iframe>
      <p>Orono HS Canoe Teams 2013 trip to the nationals on the Natanhala </p>
      <iframe width="560" height="315" src="//www.youtube.com/embed/jYXczQN8u9E" frameborder="0" allowfullscreen></iframe>
      
    </div>
    <div id="Freestyle" class="col-lg-6" style="background-color:lavender;">
        <p>Freestyle Canoeing</p>
      <p> "Canoe Freestyle competitions are held on stationary features on rivers, in particular standing waves (which may be breaking or partially breaking), ‘holes’ and ‘stoppers’, where water flows back on itself creating a retentive feature (these are often formed at the bottom of small drops or weirs), or eddy lines (the boundary between slow moving water at the rivers' edge, and faster water).

In ICF competitions, athletes have a set time to perform as many different moves as possible, and they can score additional points for style. Finals are always judged over three runs of 45 seconds each and the moves throughout each competition fall into three categories: Entry Moves, Basic Moves, Bonuses."</p>
    </div>
     <div class="col-lg-6" style="background-color:lavenderblush;">
      <p>Random text</p>
      <p> <iframe width="560" height="315" src="//www.youtube.com/embed/f9XV5vViB_E" frameborder="0" allowfullscreen></iframe>
      <iframe width="560" height="315" src="//www.youtube.com/embed/SCl2K5TOVBc" frameborder="0" allowfullscreen></iframe>
      </p>
    </div>
    <div id="Slalom" class="col-lg-6" style="background-color:#FF4D4D;">
      <p>Slalom</p>
      <p>From team USA.org "In whitewater slalom, athletes have to navigate their canoe or kayak through gates as they work their way through 300m of whitewater rapids in the fastest time possible. Hitting one of the hanging gates or missing one completely results in time penalties which are added to the paddler's time at the end of his or her run. A [10]-second penalty is given for a touched gate, and if the gate is missed completely there is a 50-second penalty. There are approximately 18-24 hanging gates for each course. The gates are color-coded to indicate which direction the paddler must pass through. Green gates are negotiated heading downstream while red gates require the paddler to reverse direction and pass through them heading upstream." </p>
    </div>
     <div class="col-lg-6" style="background-color:#7ACCA3;">
      <p><<iframe width="560" height="315" src="//www.youtube.com/embed/Q2K-m4-yQjk" frameborder="0" allowfullscreen></iframe> 
      <<iframe width="560" height="315" src="//www.youtube.com/embed/fQuR-3Iv6AA" frameborder="0" allowfullscreen></iframe></p>
      <p> </p>
    </div>
    		
</div> 

</p>
