<p>
About  
</p>

<p>
<div class="container-fluid">
<p>
There are three main disciplines of whitewater canoeing downriver, freestyle and slalom. 
</p>
<div class="row">
    <div class="col-sm-6" style="background-color:lavender;">
      <p>Random text</p>
      <p> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
</div> 

</p>
